header{
    margin-bottom: 50px;}
header h1{
    color: #DA5D1A;
}

body{
    background: url(../images/f56683902beb363db6d29ec1fd3a507d.jpg);
    background-size: cover;
    background-position:  bottom;
    height: 100vh;
}

h4{
    color: #DA5D1A;
    background-color: #FCC37C;
    border: 15px solid;
    padding: 10px 10px;
    border-radius: 32px;
}

section.button1 {
    padding: 0 415px;
}
section.button2 {
    padding: 0 355px;
}

