body{
    background: url(../images/f56683902beb363db6d29ec1fd3a507d.jpg);
    background-size: cover;
    background-position:  bottom;
    height: 100vh;}

header h4{
    color: #DA5D1A;
}

section.container1 h5 {
    color: #DA5D1A;}
section.container1 .box{
    width: 269px;
    height: 252px;
    border: 10px #DA5D1A solid;
    border-radius: 40px;
}

section.container_stats .stats .box{
    width: 269px;
    height: 73px;
    border: 10px #AB8E87 solid;
    border-radius: 40px;
}
section.button h6{
    color: #DA5D1A;
    background-color: #FCC37C;
    border: 10px solid #F9975A;
    padding: 10px 10px;
    border-radius: 40px;
    }

section.container_game .game{
    overflow: hidden;
    display: grid;
    width: 420px;
    height: 840px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
    border: 20px solid #DA5D1A;
    background-color: #b6a6c180;
    border-radius: 40px;
    outline-offset: -21px;
    position: relative;
}

section.container_game .box{
    border: 1px solid #3f355775
}

section.container_stats h6{
    color: #DA5D1A;
}