body{
    background: url(../images/f56683902beb363db6d29ec1fd3a507d.jpg);
    background-size: cover;
    background-position:  bottom;
    height: 100vh;}

header h4{
    color: #DA5D1A;
}

h2{
    color: #DA5D1A;
    padding-bottom: 20px;
}

p{
    color: #DA5D1A;
}

main p{
    width: 1153px;
    height: 355px;
    line-height: 126%;
    text-align: justify;
}

section.button{
    padding: auto;
}

section.button h6{
    color: #DA5D1A;
    background-color: #F9975A;
    border: 10px solid #FCC37C;
    padding: 10px 10px;
    border-radius: 40px;
}